<script type="text/javascript">
	var xmlHttpRequest;
	function actualizarVotos(candidaturaId) {
		document.getElementById("id-c-" + candidaturaId).innerHTML = xmlHttpRequest.responseText;
	}

	function actualizarCandidatura(candidaturaId) {
		xmlHttpRequest = new XMLHttpRequest();
		nVotos = document.getElementById("id-nv-" + candidaturaId).value;
		xmlHttpRequest.open("PATCH", "/rest/auth/candidatura/" + candidaturaId
				+ "/" + nVotos, true);
		xmlHttpRequest.send();
		xmlHttpRequest.onreadystatechange = function() {
			if (xmlHttpRequest.readyState == 4 && xmlHttpRequest.status == 200) {
				actualizarVotos(candidaturaId);
			}
		}
	}
</script>

<div class="container">

	<h1>
		Listado de candidaturas para las elecciones
		<th:block
			th:text="|${eleccion.fecha.getMonth()} ${eleccion.fecha.getYear()}|" />
		en
		<th:block th:text="${provincia.nombre}" />
	</h1>

	<table class="table table-striped">

		<tr>
			<th>Partido político</th>

			<th>Num. votos</th>

			<th>Votar</th>
		</tr>

		<tr th:each="c:${candidaturas}">
			<td th:text="${c.partidoPolitico.nombre}"></td>
			<td th:id="|id-c-${c.id}|" th:text="${c.numVotos}"></td>
			<td>
				<button th:onclick="|actualizarCandidatura(${c.id})|" /> <img
				src="/img/icons/suma.png" style="width: 40px;">
				</button> 
				<input type="number" value="1" th:id="|id-nv-${c.id}|">
			</td>
		</tr>
	</table>

</div>
