<div class="container">
	<h1>Selecciona la provincia y las elecciones que quieres ver</h1>
	
	
	<form action="/auth/seleccionarProvinciaYEleccion" method="post">
		ELECCIONES
		<select name="idEleccion">
			<option th:each="e:${elecciones}" th:text="${e.fecha}" th:value="${e.id}"></option>
		</select>
		<br/>
		
		
		PROVINCIA
		<select name="idProvincia">
			<option th:each="p:${provincias}" th:text="|${p.nombre} (${p.comunidadAutonoma.nombre})|" th:value="${p.id}"></option>
		</select>
		<br/>
		
		<input type="submit"/>
		<br/>
	</form>
</div>