<div class="container">
	<h1>Nueva candidatura</h1>
	<form method="post">

		<label>ELECCIONES</label> 
		<select name="idEleccion">
			<option th:each="e:${elecciones}" th:value="${e.id}" th:text="${e.fecha}"></option>
		</select>
		<br/>
		
		<label>PROVINCIA</label>
		<select name="idProvincia">
			<option th:each="p:${provincias}" th:value="${p.id}" th:text="|${p.nombre} (${p.comunidadAutonoma.nombre})|"></option>
		</select>
		<br/>
		
		<label>PARTIDO POLÍTICO</label>
		<select name="idPartidoPolitico">
			<option th:each="pp:${pps}" th:value="${pp.id}" th:text="|${pp.siglas} (${pp.nombre})|"></option>
		</select>
		<br/>

	</form>
</div>