<script>
	var xmlhttp;

	function rellenarDatosCandidaturas() {
		var tabla = `	
			<table>
				<tr>
					<th>Provincia (CCAA)</th>
					<th>Partido Político</th>
				</tr>
				`;
		var candidaturas = JSON.parse(xmlhttp.responseText); 
		for ( id in  candidaturas ) {
			tabla += '<tr>';

			tabla += '<td>';
			tabla += candidaturas[id].provincia.nombre;
			tabla += '</td>';

			tabla += '<td>';
			tabla += candidaturas[id].partidoPolitico.siglas;
			tabla += '</td>';

			tabla += '</tr>';
		}
		
		tabla += '</table>';
		
		document.getElementById("idCandidaturas").innerHTML = tabla;
	}

	function getCandidaturas() {
		
		xmlhttp = new XMLHttpRequest();
		xmlhttp.open("GET","/rest/admin/candidaturas/" + document.getElementById("idEleccion").value , true);
		xmlhttp.send();
		xmlhttp.onreadystatechange=function() {
			if (xmlhttp.readyState==4 && xmlhttp.status==200) {
				rellenarDatosCandidaturas();			
			}
		}
	}
</script>

<div class="container">
	
	<form action="/admin/candidatura/c">
	
	<br>
	
	<input type="submit" class="mt-2 btn btn-info" value="Crear"/>
	
	<br><br>
	
	<h1>Lista de candidaturas</h1>

	<select onchange="getCandidaturas()" id="idEleccion" name="idEleccion">
		<option th:each="e:${elecciones}" th:text="|${e.fecha.getMonth()} ${e.fecha.getYear()}|" th:value="${e.id}" name="idEleccion"></option>
	</select>
	
	</form>

	<div id="idCandidaturas"></div>

</div>