<div class="container">
	<h1>Selecciona la provincia que quieres ver</h1>
	  
	 <!-- <h3 th:text="${session.user.admin}"></h3> -->
	
	 
	<form action="/auth/seleccionarProvinciaYEleccion" method="post">
	 
		<label>ELECCIONES</label>
		<select name="eleccionId">
			<option th:each="e:${elecciones}" th:text="${e.fecha}" th:value="${e.id}"></option>
		</select>
		<br/>
		
		<label>PROVINCIA</label>
		<select name="provinciaId">
			<option th:each="p:${provincias}" th:text="|${p.nombre} (${p.comunidadAutonoma.nombre})|" th:value="${p.id}"></option>
		</select>
		<br/>
		
		<input type="submit" class="mt-2 btn btn-success" autofocus="autofocus"/>
		<br/>
	</form>
</div>